@import url(../css/clash-display.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --green: #00be63;
    --dark-green: #013b1f;
    --black: #333;
    --white: #f5f5f5;
    --c-dark: #212529;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

/*navigation style*/
.navbar {
    background-color: var(--white) !important;
    box-shadow: var(--box-shadow);
}

.nav-item {
    margin-right: 15px;
    font-family: monospace;
    font-size: medium;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.img2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item .btn {
    background-color: var(--green);
    border: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 25Spx;
}

.nav-item .btn:hover {
    background-color: var(--black);
    border-color: var(--c-brand-light);
}

/*index styling*/
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--black);

}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#haventitle {
    background: rgba(245, 245, 245, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(245, 245, 245, 0.3);
    width: 50%;
    max-width: 50%;

}

#haventitle button {
    background-color: var(--black);
    border: none;
    color: var(--white);
}

#haventitle button:hover {
    background-color: var(--green);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

#index {
    background: url(../images/index11.png);
    background-position: center;
    background-size: cover;
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--black);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    color: var();
    font-size: 2.6rem;
    margin-bottom: 4rem;
    font-family: var(--font-base);
}

#card {
    width: 22rem;
    /* background-color: var(--white); */
    background-color: #92d5b5;
    border: var(--green) dashed 3px;
    font-family: var(--font-base);
    color: var(--white);
    -webkit-box-shadow: 14px 23px 31px -9px rgba(98, 145, 122, 1);
    -moz-box-shadow: 14px 23px 31px -9px rgba(98, 145, 122, 1);
    box-shadow: 14px 23px 31px -9px rgba(98, 145, 122, 1);
    transition: all 1s ease;
}

#card:hover {
    border: #00be63 solid 3px;
    background-color: var(--white);
    -webkit-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -200px rgba(0, 0, 0, 0.75);
}


.form-group textarea:focus,
.form-group input:focus {
    background-color: #e6f0eb;
}

.form-group textarea,
.form-group input {
    border: 2px dashed var(--green);
}

form .form-control:focus {
    border-color: var(--green);
    box-shadow: inset 0 1px 1px rgba(48, 98, 41, 0.075), 0 0 8px rgba(115, 212, 106, 0.6);
}

form button,
.btn[type="submit"] {
    color: var(--white);
    border: 2px solid #00be63;
    background-color: var(--green);
}

form button,
.btn[type="submit"]:hover {
    color: var(--black);
    border: 2px solid var(--green);
}

/*LOG IN STYLING*/
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/*REGISTERATION STYLING*/
#reg {
    background-color: var(--black);
}


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

#btnR {
    background-color: var(--green);
    border: none;

}

#register {
    padding-top: 20px;

}

/*/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
    padding: 40px;
}

#contact::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    background-image: url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--dark-green);
}

#btnC {
    background-color: var(--dark-green);
    align-items: center;
    justify-content: center;
    border: none;
}

/* INVENTORY DETAILS */

#inventory {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5rem auto;
}

#invent_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#appliance_container {
    background-color: #00be63;
}

#appliance_details {
    font-size: larger;
}
.Message{
    background-color: red;
    font-size: larger;
    text-align: center;
}

#change_password{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    background-color: #e6f0eb;
    width:70%;
}
#change_pass_page{
}

