:root{
    --green: #00be63;
    --black:#333;
    --white: #f5f5f5;
}
/*navigation style*/
.navbar{
    background-color: var(--white)!important;
}
.nav-item{
    margin-right: 15px;
    font-family: monospace;
    font-size: medium;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.nav-item .btn{
    background-color: var(--green);
    border: none;
}
.nav-item .btn:hover{
    background-color: var(--black);
    border-color: var(--white);
}
.navbar-brand img{
    /* mix-blend-mode: color-burn; */
}
